pymupdf
rapidocr-onnxruntime
langchain
langchain-groq
langchain-core
langsmith
langchain-community
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_google_genai
langchain-milvus
pydantic
python-dotenv
langchain-openai
langchain-community
defusedxml 
pypdf
bs4
arxiv
wikipedia
langchain-pinecone
pinecone
youtube_search
langgraph
chromadb